services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    # volumes: 
    #   - mongodata:/data/db
  server:
    build: 
      context: .
      dockerfile: server.Dockerfile
    environment:
      DOCKER_DB: true
    depends_on:
      - mongo
    ports:
      - '5000:5000'

# volumes:
#   mongodata:
