{% extends 'base.html' %}

{% block content %}
<div class="left-offset">
    <h1 class="shadowed-text">My Quizzes and Flashcards {{ID}}</h1>
    <br>
    <button class="button1" onclick="window.location.href='{{ url_for('home') }}'">
        <span>
            Home
        </span>
    </button>
    <br>
    <button class="button1" onclick="window.location.href='{{ url_for('get_quizzes') }}'">
        <span>
            My Quizzes
        </span>
    </button>
    <br>
    <button class="button1" onclick="window.location.href='{{ url_for('get_flashcards') }}'">
        <span>
            My Flashcards
        </span>
    </button>
</div>


{% endblock %}