#cardholder {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top:2em;
}

.card {
  width: 40em;
  height: 10em;
  perspective: 1000px;
  cursor: pointer;
  display:none;
  font-size: 30px;
  line-height: 1.6;
}

.cardinner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
} 

 .card.flipped .cardinner {
  transform: rotateY(180deg);
}




.cardfront,
.cardback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: #fefefe;
  align-items: center;
  display: flex;
 
}

.cardback {
  background: #ffefd5;
  transform: rotateY(180deg);
}

.cardtext{
  margin-top:10px;
  margin-right:5px;
  margin-left:5px;
  text-align: center;
  width:100%;
}

.show{
  display:block;
}

.cardbutton{
  font-size: 40px;
}

#cardcounter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: gainsboro;
  margin-top: 20px;
}